[workspace]

members = ["bagread", "minot", "rat", "ratpub", "mtc", "sea", "wind"]
resolver = "2"

[workspace.package]
version = "0.1.0"
keywords = ["robotics"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/uos/minot"
edition = "2024"
include = ["**/*.rs", "**/*.md", "**/Cargo.toml"]
authors = ["Christopher Sieh <csieh@uos.de>"]

[workspace.dependencies]
sea = { path = "sea" }
ratpub = { path = "ratpub" }
bagread = { path = "bagread" }

wind = { path = "wind" }
mtc = { path = "mtc" }

anyhow = "1"
r2r = "0.9.5"
async-trait = "0.1.86"
rkyv = { version = "0.8.10" }
bincode = { version = "0", features = ["serde"] }
env_logger = "0.11.6"
log = "0.4.25"
nalgebra = { version = "0.33.2" }
ros_pointcloud2 = { version = "0.5.3", git = "https://github.com/stelzo/ros_pointcloud2.git", features = [
  "serde",
  "ros2-interfaces-jazzy",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
deadpool = { version = "0.12", features = ["managed"] }
ros2-client = { version = "0.8.1", git = "https://github.com/stelzo/ros2-client", branch = "raw" }
ros2-interfaces-jazzy = { version = "0.0.4", features = [
  "std_msgs",
  "geometry_msgs",
  "sensor_msgs",
  "builtin_interfaces",
] }
ros2-interfaces-jazzy-rkyv = { version = "0.0.4", features = [
  "std_msgs",
  "geometry_msgs",
  "sensor_msgs",
  "builtin_interfaces",
], git = "https://github.com/stelzo/ros2-interfaces-jazzy-rkyv.git" }
roslibrust = { version = "0.12.2", features = ["ros1", "macro"] }

[patch.crates-io]
roslibrust = { git = "https://github.com/stelzo/roslibrust", branch = "rustls" }

[profile.release]
lto = "fat"         # Link Time Optimization
codegen-units = 1   # Slower compile times but compiler sees all generated code and can optimize over everything across modules. Also decreases binary size.
strip = "symbols"   # Significantly reduce binary size
opt-level = "s"     # Optimize for size but keep some performance
debug = 0
